body{
    background-color: whitesmoke;
}
.jumbotron{
    background-color: cornsilk;
}
img{
    width: calc(100% - 20px);
    height: 250px;
}
.noticiasGrid{
    margin: 10px;
    border: 1px solid darkblue;
    padding: 10px;
}
.container-fluid{
    width: 90%;
}